# Discord
discord.py==2.5.2

# Database
SQLAlchemy==2.0.40
aiosqlite==0.21.0
alembic==1.15.2

# Testing
pytest==8.3.5
pytest-asyncio==0.26.0
pytest-cov==6.1.1

# Utilities
python-dotenv==1.1.0
loguru==0.7.3
APScheduler==3.11

# Type checking
mypy==1.15.0
types-python-dateutil>=2.9.0
sqlalchemy-stubs==0.4 